.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 0.5em;
}

.lista-menu{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 600;
}

.lista-menu__link{
    color: var(--azul-degrade);
    text-decoration: none;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1728px){
    .cabecalho{
        padding: 2em;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes{
        margin-right: auto;
    }
    .container__texto{
        display: block;
    }
}